


body{
	display:flex;
	flex-direction:column;

}
#meni ul li{
	display:inline;
	list-style-type: none;
}



#header {
	order:1;
	background-color: #D34F73;
	color:#3F292B;


}




#logo{
	float:left;
}

#naslov{
float:right;
font-weight:bold;
font-size: 15pt;

}




h1{
	text-align: right;
	margin-right:1em;
	color:#3F292B;
}


#meni{
	overflow:hidden;
	clear:both;
	font-size:1em;
	font-weight:bold;
	
}


/*
div{
border:1pt solid black;
}
*/


a{
	color:#3F292B;
}

#sredina{
	order:2;
	display:flex;
	
	background-color:  #3F292B;
	box-sizing: border-box;
}

#side{
	order:1;
	flex:0.35;
	background-color: #A37B73;
	box-sizing: border-box;
	margin-left:40px;
	padding-left:20px;

}

#glavniSadrzaj{
	margin-right:40px;

	order:2;
	flex:0.65;

	color:#3F292B;
	background-color: #DB7F67;
	box-sizing: border-box;
	text-align: center;
	height: 410px;
	display: grid;
	 
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px ;

  grid-column-gap: 30px;
  grid-row-gap: 30px;
   padding:30px;
 



 
}

.godina{
	
	font-weight: bold;
	width:150px;
	height:150px;
	background-color: #D34F73;
  border: 1px solid black;
 
}




/*file je za browse he he*/
input[type], select{
	background-color: #DBBEA1;
}



/*
label{
	text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
*/


input[type="submit"], input[type="button"]{
	width:100px;
	background-color: #3F292B;
	color:white;
}

#footer{
	order:3;
	
	text-align: right;
	font-size: 1em;
	background-color: #D34F73;
	color:#3F292B;
}


@media(max-width: 600px){
	body{
		display:flex;
		flex-direction:column;
	

	
	}



	#header{
		order:1;
		display:flex;
		flex-direction: column;
		
	}

	#logo{
		order:1;
	}

	#meni{
		order:2;
		
	}
	#naslov{
		order:3;
		
	}

#sredina{
		order:2;
		display: flex;
		flex-direction: column;

		
		
		/*haman mi je sijeda iznikla zbog ovog -.-'    ...how can we be sure, it s already not?*/

	}

	#side{
		order:1;
	}
	#glavniSadrzaj{
	
	order:2;
	text-align: center;
	
	display: grid;
	 
  grid-template-columns: auto auto;
  grid-template-rows: auto auto ;

  grid-column-gap: 10%;
  grid-row-gap: 10%;
   padding:10px;

 
}

#godina{
	
	font-weight: bold;
	width:150px;
	height:150px;
	background-color: #D34F73;
  border: 1px solid black;
 
}
	
		
	

	

	

	

	

#footer{
		order:3;
		

	}

	
}